.carouselSection{
    position: relative;
    margin-bottom: 20px;
}
.carouselSection .contentWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @apply md:mb-5;
}

.carouselTitle{
    font-size: 24px;
    color: white;
    font-weight: 800;
}